body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.calculadora {
    background-color: #8f7c7c;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resultado {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.resultado input {
    width: 100%;
    padding: 10px;
    text-align: right;
    border: none;
    color: black;
    background-color: white;
    border-radius: 10px;
}

.botones {
    display: grid;
}
